[submodule "mathjs"]
	path = mathjs
	url = https://github.com/josdejong/mathjs.git
	branch = v15.0.0
[submodule "cordova-plugin-inappbrowser"]
	path = cordova-plugin-inappbrowser
	url = https://github.com/apache/cordova-plugin-inappbrowser.git
[submodule "cordova-plugin-android-remove-permissions"]
	path = cordova-plugin-android-remove-permissions
	url = https://github.com/globules-io/cordova-plugin-android-remove-permissions.git
