<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cardijey.schulrechner" version="Set automatically by update_version.js" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Schulrechner</name>
    <description>The calculator you know from school</description>
    <author email="joris.scholl@posteo.de" href="https://cardijey.github.io/">
        Joris Yidong Scholl
    </author>

    <!-- Point to your index.html -->
    <content src="index.html" />

    <!-- Add other configurations as needed -->
    <platform name="android">
        <icon monochrome="res/icon/android/monochrome.xml" background="res/icon/android/background.xml" foreground="res/icon/android/foreground.xml" src="www/img/android-icons/drawable-ldpi-icon.png" density="ldpi" />
        <icon monochrome="res/icon/android/monochrome.xml" background="res/icon/android/background.xml" foreground="res/icon/android/foreground.xml" src="www/img/android-icons/drawable-mdpi-icon.png" density="mdpi" />
        <icon monochrome="res/icon/android/monochrome.xml" background="res/icon/android/background.xml" foreground="res/icon/android/foreground.xml" src="www/img/android-icons/drawable-hdpi-icon.png" density="hdpi" />
        <icon monochrome="res/icon/android/monochrome.xml" background="res/icon/android/background.xml" foreground="res/icon/android/foreground.xml" src="www/img/android-icons/drawable-xhdpi-icon.png" density="xhdpi" />
        <icon monochrome="res/icon/android/monochrome.xml" background="res/icon/android/background.xml" foreground="res/icon/android/foreground.xml" src="www/img/android-icons/drawable-xxhdpi-icon.png" density="xxhdpi" />
        <icon monochrome="res/icon/android/monochrome.xml" background="res/icon/android/background.xml" foreground="res/icon/android/foreground.xml" src="www/img/android-icons/drawable-xxxhdpi-icon.png" density="xxxhdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon/android/splash.xml" />
        <preference name="SplashScreenBackgroundColor" value="#000000" />
    </platform>

    <plugin name="cordova-plugin-android-remove-permissions" spec="cordova-plugin-android-remove-permissions" />
    <plugin name="InAppBrowser" spec="cordova-plugin-inappbrowser" />
    <preference name="AndroidRemovePermissions" value="INTERNET" />
</widget>
