@font-face {
    font-family: 'schulrechner';
    src: url('../fonts/schulrechner.ttf') format('truetype');
}

body {
    font-family: 'schulrechner', monospace;
}

svg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.math-div{
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    padding-left: 0.111em;
}

#math-output {
    text-align: right !important;
}

#math-input {
    text-align: left !important;
}

[inkscape\3a label^="label_"] {
    pointer-events: none;
}

[inkscape\3a label="display_input"] {
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    padding-left: 0.111em;
}

.frac_wrapper {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    margin-right: 0.111em;
}

.frac_top {
    position: relative;
    padding: 0;
    margin: 0;
    left: 0;
    display: block;
    padding-left: 0.111em;
}

.frac_bottom {
    position: relative;
    padding: 0;
    margin: 0;
    left: 0;
    display: block;
    border-top: 0.111em solid white;
    padding-top: 0.111em;
    margin-top: 0.111em;
    padding-left: 0.111em;
}